django-ninja
python-decouple
django-cors-headers
web3
django-jazzmin
djangorestframework
django-filter
markdown
pydantic
dj-database-url
psycopg2-binary
pyyaml
gunicorn
django_user_agents
python-dateutil
